In [1]:
nome = 'Marcos'
type ('nome')

str

In [2]:
idade = 34 
type ('idade')

str

Se vinher o número como str faça isso:

In [4]:
idade = int (idade)
type = ('idade')

In [12]:
altura = '1,71'

print(altura, type(altura))

TypeError: 'str' object is not callable

In [13]:
#str_altura = str (altura)

num_altura = float (altura.replace(",",","))

print(altura, type(num_altura))

ValueError: could not convert string to float: '1,71'

In [17]:
booleano = 'true'

booleano_ = bool(booleano)

print("booleano: ",booleano_,"\n", type(booleano_))

TypeError: 'str' object is not callable

In [19]:
data = '2023-08-02'

type (data)

TypeError: 'str' object is not callable

In [21]:
from datetime import datetime, date

In [23]:
data_parse = datetime.strptime(data, "%Y-%m-%d").date()

print(data_parse, "\n", type(data_parse))

TypeError: 'str' object is not callable